<footer class="bg-light pt-5">
    <div class="container-xl">
        <div class="row justify-content-between mb-3">
            <div class="col-auto">
                <a href="#">
                    <picture>
                        <img src="{{webRoot}}/assets/images/logo/footer-logo.png" alt="MJC">
                    </picture>
                </a>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between py-3 border-top">
            <div class="w-auto">
                Copyright 2020 Manila Jockey Club Inc. and San Lazaro Leisure and Business Park. All rights reserved. | Privacy Policy
            </div>
            <ul class="list-unstyled d-flex flex-row mb-0 gx-3">
                <li class="col-auto">
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li class="col-auto">
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="col-auto">
                    <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
{{> default/js }}