<footer class="footer">
    <div class="container-xl">
        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-auto">
                <a href="#">
                    <picture>
                        <img src="{{webRoot}}/assets/images/logo/footer-logo.png" alt="MJC">
                    </picture>
                </a>
            </div>
            <div class="col-3 me-auto address">
                <div class="fw-bold text-gray-400 mb-2">
                    Manila Jockey Club, Inc.
                </div>
                <address>
                    14th flr. Strata 100 Bldg. F. Ortigas Jr. Road, Ortigas Center, Pasig 1605
                </address>
                (02) 687 9889
            </div>
            <div class="col-6 d-flex flex-row">
                <div class="col-4">
                    <ul class="footer-nav">
                        <li class="footer-nav-label">
                            About MJCI
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Our Business Profile</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Vision, Mission Values</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Corporate Site</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="footer-nav">
                        <li class="footer-nav-label">
                            Properties
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">San Lazaro Leisure Park</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Winford Hotel & Casino</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Chantilly Bar & Bistro</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="footer-nav">
                        <li class="footer-nav-label">
                            Resources
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Watch Livestream</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Membership</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Download GameTime</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">FastBet</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Functions & Events</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center py-3 border-top">
            <div class="copyright-text w-auto">
                Copyright 2020 Manila Jockey Club Inc. and San Lazaro Leisure and Business Park. All rights reserved. | Privacy Policy
            </div>
            <ul class="social-media-list list-unstyled d-flex flex-row mb-0 gx-3">
                <li class="social-media-item">
                    <a href="#" class="social-media-link">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social-media-item">
                    <a href="#" class="social-media-link">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="social-media-item">
                    <a href="#" class="social-media-link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
{{> default/js }}