.footer{
    background-color: $gray-50;
    padding-top: 2rem;
    padding-bottom: .25rem;
}

.copyright-text {
    color: $gray-400;
    font-size: .75rem;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.social-media-item {
    margin-left: .75rem;
}

.social-media-link {
    font-size: 1.25rem;
    color: $yellow;

    &:hover {
        color: $drak-yellow;
    }
}